main{
  min-height: 80vh;
}

.navTheme{
  background-color: #040613;
 
}

.Logo {
  background-image: url('./logo.png');
}

.logo{
  width: 3rem;
  height: 3rem;
}


.product_container{
  width:  17rem;
  height: 18rem; 
}

.product_image{
  width:  16rem;
  height: 16rem;
  padding-left: 3rem;
  
}

.products_description{
  font-size:12px;
  padding-bottom: -12rem;
      position: absolute;
  bottom:15% !important;
}

.products_description_review{
      position: absolute;
  bottom:1% !important;
}


.rating_span{
  display: flex;
  justify-content:center;

}

.num_reviews{
  padding-left: 20px;
  color: rgb(179, 184, 184);

}

.num_reviews:hover{

    color: rgb(0, 0, 0);

}

.rating span{
  margin: 0.1rem;
}

.single_product{
  
  margin: 10% !important;

}

.product_container:hover{
    background-color: rgba(0, 0, 0, 0.027) !important;
}

.previous_button{
  width: 3rem;
  height: 18rem;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(183, 184, 185, 0.322) !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  text-align: center !important;
  border-color: rgba(183, 184, 185, 0.2) !important;
  border-radius: 5px !important;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}


.next_button{
  width: 3rem;
  height: 18rem;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgba(183, 184, 185, 0.322) !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  text-align: center !important;
  border-color: rgba(183, 184, 185, 0.2) !important;
  border-radius: 5px !important;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.items_button:hover{
  background-color: rgba(0, 0, 0, 0.151) !important;
  color: rgba(183, 184, 185,1) !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.username_title{
  margin-left:10rem !important;
  font-weight:bold;
  color:white;
  margin: auto;
}

#password_error{
  color:red;
  font-size:12px;
  margin-left:10rem;
}

label{
  font-size:larger;
  color:rgb(5, 159, 255);
}
.form-control{
  border-color: rgb(5, 159, 255);
}

.card{
  height: 25rem;
}

.card:hover{
  background-color:rgba(5, 159, 255,0.05) ;
  
}

.card-img{
  max-height: 10rem;
  max-width: 10rem;
}