main{
  min-height: 80vh;
}

.navTheme{
  background-color: #040613;
 
}

.Logo {
  background-image: url('./logo.png');
}

.logo{
  width: 3rem;
  height: 3rem;
}


.product_container{
  width:  20rem;
  height: 20rem; 
}

.product_image{
  width:  16rem;
  height: 16rem;
  padding-left: 4rem;
  
}

.products_description{
  font-size:12px;
  padding-bottom: -12rem;
}